nav.site-nav {
    float: none;
}

.image-wrapper {
    float: left;
    margin: 15px;
    max-width: 35%;
}

.image-wrapper img {
    border-radius: 50%;
}

.icon-image {
    height: 20px;
    width: 20px;
    margin-right: 3px;
    padding-bottom: 5px;
}

@include media-query($on-palm) {
    .image-wrapper {
        float: none;
        max-width: 80%;
        margin: auto;
    }
}

.social-media-list {
    li {
        display: inline;
        margin-right: 10px;
    }
    a {
        color: $grey-color;
        font-size: 24px;
    }
}

.footer-col {
    ul {
        margin: 0;
        line-height: 40px;
    }
}
